<div class="container" id="new-room">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">New Room</div>
    <div class="panel-body">
      <form class="form-horizontal">
      	<!-- Room Status -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomStatus" class="col-xs-2 control-label">Building</label>
            <div class="col-xs-8">
              <select class="form-control" ng-model="buildingId">
                <option ng-repeat="building in buildingList" value="{{ building._id }}">{{ building.name }}</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Room Unit -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomUnit" class="col-xs-2 control-label">Unit</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputRoomUnit" placeholder="Unit" ng-model="room.unit">
            </div>
          </div>
        </div>

        <!-- Room Floor -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomFloor" class="col-xs-2 control-label">Floor</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputRoomFloor" placeholder="Floor" ng-model="room.floor">
            </div>
          </div>
        </div>

        <!-- Room Sapce -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomSpace" class="col-xs-2 control-label">Space</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputRoomSpace" placeholder="Space in sqm" ng-model="room.space">
            </div>
          </div>
        </div>

        <!-- Room Price -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomPrice" class="col-xs-2 control-label">Price</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputRoomPrice" placeholder="Price" ng-model="room.price">
            </div>
          </div>
        </div>

        <!-- Room Status -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomType" class="col-xs-2 control-label">Type</label>
            <div class="col-xs-8">
              <select class="form-control" ng-model="room.type">
                <option value="Office">Office</option>
                <option value="Retail">Retail</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Room Status -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomStatus" class="col-xs-2 control-label">Status</label>
            <div class="col-xs-8">
              <select class="form-control" ng-model="room.status">
                <option value="Y">Available</option>
                <option value="N">Not available</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Room Remark -->
        <div class="row">
          <div class="form-group">
            <label for="inputRoomRemark" class="col-xs-2 control-label">Remark</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputRoomRemark" placeholder="Remark" ng-model="room.remark">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
              <button class="btn btn-success" ng-click="save()">Save</button>
              <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
