<div id="building-unit-modal">
  <div class="modal-header">
    <h3 class="modal-title">Custom Range</h3>
  </div>
  <div class="modal-body" dw-loading="building-viewer-modal" dw-loading-options="{ text: 'Loading...' }">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Building Name</th>
          <th>Location</th>
          <th>Unit</th>
          <th>Fl.</th>
          <th>Type</th>
          <th class="right">Area</th>
          <th class="right">Price</th>
          <th>Remarks</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody ng-show="buildingUnitList.length > 0">
        <tr ng-repeat="buildingUnit in buildingUnitList | orderBy: 'building.name'">
          <td>
            <i class="fa fa-circle building-unit-status" aria-hidden="true" ng-class="{ available: buildingUnit.available }"></i>
          </td>
          <td>{{ buildingUnit.building.name }}</td>
          <td>{{ buildingUnit.building.location }}</td>
          <td>{{ buildingUnit.name }}</td>
          <td>{{ buildingUnit.floor }}</td>
          <td>{{ buildingUnit.type }}</td>
          <td class="right">{{ buildingUnit.area }}</td>
          <td class="right">{{ buildingUnit.price }}</td>
          <td>{{ buildingUnit.remark }}</td>
          <td>{{ buildingUnit.contact }}</td>
        </tr>
      </tbody>
      <tbody ng-hide="buildingUnitList.length > 0">
        <tr>
          <td class="center" colspan="10">No buildings to be displayed.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
  </div>
</div>